.comment__quote {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 52px;
    font-weight: normal;
    color: #C4C4C4;
    order: 3;
}

@media screen and (min-width: 375px) {
    .comment__quote {
        margin-bottom: 53px;
    }
}


@media screen and (min-width: 768px) {
    .comment__quote {
        max-width: 52%;
        margin-bottom: 72px;
    }
}


@media screen and (min-width: 1024px) {
    .comment__quote {
        order: 2;
        font-size: 14px;
        line-height: 24px;
        max-width: 100%;
        margin-bottom: 16px;
    }
}


@media screen and (min-width: 1280px) {
    .comment__quote {
        margin-bottom: 12px;
    }
}