@import url('__title/additional__title.css');
@import url('__subtitle/additional__subtitle.css');
@import url('__container/additional__container.css');
@import url('__item/additional__item.css');
@import url('__image/additional__image.css');
@import url('__item-heading/additional__item-heading.css');
@import url('__item-text/additional__item-text.css');

.additional {
    font-family: 'Inter';
    width: 1184px;
    height: 542px;
    margin: 0 auto 102px;
    display: flex;
    flex-direction: column;
}