.barentsburg__link {
    width: 282px;
    height: 49px;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    position: absolute;
    left: 502px;
    bottom: 47px;
    text-decoration: underline;
    font-weight: normal;
}