@import url('_font/_weight/intro__text_font_weight.css');
@import url('_list/intro__text_list.css');

.intro__text {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.intro__text:last-child {
    list-style-type: none;
    font-size: 10px;
    line-height: 16px;
    font-weight: normal;
    padding: 0;
}





