@import url('__title/intro__title.css');
@import url('__subtitle/intro__subtitle.css');
@import url('__content-row/intro__content-row.css');
@import url('__text/intro__text.css');

.intro {
    font-family: 'Inter';
    margin: 73px auto 88px;
    width: 984px;
}