.place__url {
    width: 484px;
    height: 20px;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: normal;
    margin: 9px 0;
}

