.barentsburg__url-heading {
    width: 282px;
    height: 12px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0;
    position: absolute;
    left: 502px;
    bottom: 108px;
}